<a href="https://colab.research.google.com/github/ruchi243/Sales_Analysis_and_Forecasting/blob/main/Multiple_Regression_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [154]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [155]:
url = 'https://raw.githubusercontent.com/ruchi243/Exploratory_Data_Analysis/main/Sample%20-%20Superstore.csv'

In [156]:
import datetime as dt
dataset = pd.read_csv(url)

dataset['Order Date'] = pd.to_datetime(dataset['Order Date'])
dataset['Order Month'] = pd.to_datetime(dataset['Order Date']).dt.month
dataset['Order Year'] = pd.to_datetime(dataset['Order Date']).dt.year
dataset.drop(["Row ID", "Customer ID","Order ID","Postal Code","Product ID","Product Name","Country","Ship Date","Order Date","Customer Name"], axis = 1, inplace = True)


display(dataset.head())

,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Order Month,Order Year
0,Second Class,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,261.9600,2,0.00,41.9136,11,2016
1,Second Class,Consumer,Henderson,Kentucky,South,Furniture,Chairs,731.9400,3,0.00,219.5820,11,2016
2,Second Class,Corporate,Los Angeles,California,West,Office Supplies,Labels,14.6200,2,0.00,6.8714,6,2016
3,Standard Class,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,957.5775,5,0.45,-383.0310,10,2015
4,Standard Class,Consumer,Fort Lauderdale,Florida,South,Office Supplies,Storage,22.3680,2,0.20,2.5164,10,2015

In [157]:
encoder = LabelEncoder()

In [158]:
dataset['City']=encoder.fit_transform(dataset['City'])
dataset['Segment']=encoder.fit_transform(dataset['Segment'])
dataset['Ship Mode']=encoder.fit_transform(dataset['Ship Mode'])
dataset['State']=encoder.fit_transform(dataset['State'])
dataset['Region']=encoder.fit_transform(dataset['Region'])
dataset['Category']=encoder.fit_transform(dataset['Category'])
dataset['Sub-Category']=encoder.fit_transform(dataset['Sub-Category'])

In [159]:
X = dataset.drop("Sales",axis = 1)


Y = dataset['Sales']

In [160]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(6995, 12) (6995,)
(2999, 12) (2999,)

In [161]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model, metrics

In [162]:
reg = linear_model.LinearRegression()
 
# train the model using the training sets
reg.fit(X_train, Y_train)

LinearRegression()

In [163]:
y_prediction = reg.predict(X_test)
y_prediction

array([209.6849414 , 203.00291558, 217.15527735, ..., 117.78969084,
        34.80901505, 294.47255578])

In [164]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(Y_test,y_prediction)
print('r2 score is ',score)
print('mean_sqrd_error is==',mean_squared_error(Y_test,y_prediction))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(Y_test,y_prediction)))

r2 score is  0.2547631215993884
mean_sqrd_error is== 200467.69225454523
root_mean_squared error of is== 447.7361860008025